.card {
	width: 500px;
	height: 250px;
	background-color: #174354;
}

.card-header {
	background-color: #066a1f;
	color: white;
	text-align: center;
	font-size: 20pt;
	height: 100px;
}

.card-detail {
	background-color: #710f0f;
	color: white;
	text-align: center;
	font-size: 8pt;
	height: 70px;
	margin-right: 45px;
	display: block;
	margin-left: 45px;
	width: 60%;
}

.text-header {
	color: white;
	font-size: 20pt;
}

.card-content {
	background-color: #174354;
	color: white;
	display: flex;
}

.card-action {
	align-items: center;
	justify-content: center;
}
