.card {
	width: 250px;
	height: auto;
	background-color: #174354;
}

.card-header {
	background-color: #A19077;
	color: black;
	text-align: center;
	font-size: 20pt;
	height: 100px;
	text-decoration: none;
} .card-header:hover {
	background-color: #005106;
}

.card-label {
	text-align: center;
}

.card-detail {
	background-color: #000000a0;
	color: white;
	text-align: center;
	font-size: 8pt;
	height: 70px;
	margin-right: 10px;
	display: block;
	margin-left: 45px;
	width: 60%;
}

.text-header {
	color: white;
	font-size: 20pt;
	text-decoration: none;
}

.card-content {
	background-color: #615748;
	color: white;
	display: flex;
	white-space: pre-line;
}

.isHome {
	background-color: #014983;
}

.isSoccer {
	background-color: #6ecaee;
} .isVolleyball {
	background-color: #f5a1a1;
} .isBasketball {
	background-color: #b16969;
} .isRowing {
	background-color: #9c76c7;
} .isTennis {
	background-color: #adf783;
} .isBaseball {
	background-color: #e8f8de;
}

.isSoccer:hover {
	background-color: #55B1D5;
} .isVolleyball:hover {
	background-color: #DC8888;
} .isBasketball:hover {
	background-color: #985050;
} .isRowing:hover {
	background-color: #835DAE;
} .isTennis:hover {
	background-color: #94DE6A;
} .isBaseball:hover {
	background-color: #CFDFC5;
}

.card-action {
	align-items: center;
	justify-content: center;
}

.scrimmage {
	font-style: italic;
}

.conflict {
    background-color: #E0ACA6
}

.conflict:hover {
    background-color: #F8ACA6
}

.isHomeConflict {
	background: repeating-linear-gradient(
		45deg,
		#ff0000,
		#ff0000 10px,
		#014983 10px,
		#014983 20px
	)
}

.isHomeConflict:hover {
	background: repeating-linear-gradient(
		45deg,
		#e82020,
		#e82020 10px,
		#00306A 10px,
		#00306A 20px
	)
}

.undoPopup {
	background-color: #bbbbbb;
	position: fixed;
	top: 0px;
	left: calc(50vw - 150px);
	width: 300px;
}

.undoText {
	text-align: center;
}
