.add-card {
    margin-left: 24px;
    border: 5px solid black;
    height: 250px;
    width: 250px;
    text-align: center;
    margin-top: 24px;
}

.add-header {
    background-color: grey;
}

.add-action {
    justify-content: center;
    align-items: center;
}

body {
    background-color: #333333;
}
